<div class="attendees">
  <p>Event Attendees:</p>
  <% if event.attendees.accepted.empty? %>
    <p class="details-text">No One</p>
  <% end %>
  <% event.attendees.accepted.each do |attendee| %>
    <p class="details-text"> <%= attendee.username %> </p>
  <% end %>
  </div>
  <div class="invited">
  <p>Invited Guests:</p>
  <% if @event.attendees.empty? %>
    <p class="details-text">No One</p>
  <% end %>
  <% event.attendees.invited.each do |attendee| %>
    <p class="details-text"> <%= attendee.username %> </p>
  <% end %>
</div>
