<%= render 'shared/header' %>

<div class="events-index-container">
  <div class="events-container">
    <div class="events-list future-events">
      <h2 class="section-title">Upcoming Events</h2>
        <% @future_events.each do |event| %>
          <%= render 'event_details', event: event %>
        <% end %>
    </div>
    <div class="division"></div>
    <div class="events-list past-events">
      <h2 class="section-title">Past Events</h2>
        <% @past_events.each do |event| %>
          <%= render 'event_details', event: event %>
        <% end %>
    </div>
  </div>
  <div class="create-event-container">
    <%= link_to new_event_path do %> <button class="create-event">Create Event</button> <% end %>
  </div>
</div>

