<%= render 'shared/header' %>

<div class="form-container">
  <div class="form-title">
    <h1 class="form-title-text">New Event</h1>
  </div>
  <div class="form-content">
    <%= render 'form', event: @event %>
  </div>
</div>
