.events-index-container .events-container {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 60px auto 0px;
  background-color: #d7dee542;
  box-shadow: 0px 0px 3px 1px #00000033;
  border-radius: 10px;
  max-height: 800px;
}

.events-index-container .events-list {
  padding: 20px 50px;
  width: 50%;
  text-align: center;
  overflow: auto;
}

.events-index-container .division {
  background-color: black;
  padding: 0.5px;
  margin: 5px 0px;
}

.events-index-container .section-title {
  font-size: 2rem;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid grey;
}

.events-index-container .event-card {
  background-color: #e4f0fb;
  margin-bottom: 20px;
  border: 2px solid #4f5476;
}

.events-index-container .card-title,
.events-index-container .card-bottom {
  background-color: #f0ffffc2;
  padding: 12px;
}

.events-index-container .card-title {
  border-bottom: 0.8px solid #808080ab;
}

.events-index-container .event-name {
  font-size: 1.3rem;
}

.events-index-container .card-description {
  padding: 30px;
  font-size: 1.2rem;
}

.events-index-container .card-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 0.8px solid #808080ab;
}

.events-index-container .date,
.events-index-container .location {
  margin: 0px 15px;
}

.events-index-container .create-event-container {
  text-align: center;
  padding: 20px;
}

.events-index-container .create-event {
  background-color: #a8c3f3;
}

.events-show-container .event-container {
  width: 50%;
  margin: 50px auto;
  text-align: center;
  background-color: #e4f0fb3d;
  box-shadow: 0px 0px 3px 1px #00000033;
  position: relative;
}

.events-show-container .event-first-section,
.events-show-container .event-second-section,
.events-show-container .event-third-section {
  margin: 0px 20px 40px;
  padding: 60px 0px;
  border-bottom: 0.8px solid #808080ab;
}

.events-show-container .event-first-section {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.events-show-container .event-name {
  font-size: 2.4rem;
}

.events-show-container .event-host {
  font-size: 1.6rem;
  color: #878484;
}

.events-show-container .event-description {
  font-size: 1.3rem;
}

.events-show-container .event-second-section,
.events-show-container .event-third-section {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  font-size: 1.5rem;
  padding-top: 0px;
}

.events-show-container .invited,
.events-show-container .attendees {
  max-height: 120px;
  overflow: auto;
  padding: 0px 20px;
}

.events-show-container .details-text {
  font-size: 1.4rem;
  font-weight: normal;
  margin-top: 5px;
}

.events-show-container .event-btn {
  width: 20%;
  padding: 15px;
  margin-bottom: 25px;
  background-color: #a8c3f3;
  font-size: 1.3rem;
}

.events-show-container .cancel-btn {
  background-color: #e94362c7;
}

.control-btns {
  display: flex;
  gap: 20px;
  position: absolute;
  top: 20px;
  right: 10px;
}

.control-btns button {
  padding: 8px;
  font-size: 0.9rem;
}

.control-btns .edit-btn {
  background-color: #c2efc5;
}
