.events-index-container .events-container {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  margin: 60px auto 0px;
  background-color: #d7dee542;
  box-shadow: 0px 0px 3px 1px #00000033;
  border-radius: 10px;
  max-height: 800px;
}

.events-index-container .events-list {
  padding: 20px 50px;
  width: 50%;
  text-align: center;
  overflow: auto;
}

.events-index-container .division {
  background-color: black;
  padding: 0.5px;
  margin: 5px 0px;
}

.events-index-container .section-title {
  font-size: 2rem;
  padding-bottom: 5px;
  margin-bottom: 15px;
  border-bottom: 1px solid grey;
}

.events-index-container .event-card {
  background-color: #e4f0fb;
  margin-bottom: 20px;
  border: 2px solid #4f5476;
}

.events-index-container .card-title,
.events-index-container .card-bottom {
  background-color: #f0ffffc2;
  padding: 12px;
}

.events-index-container .card-title {
  border-bottom: 0.8px solid #808080ab;
}

.events-index-container .event-name {
  font-size: 1.3rem;
}

.events-index-container .card-description {
  padding: 30px;
  font-size: 1.2rem;
}

.events-index-container .card-bottom {
  display: flex;
  justify-content: space-between;
  border-top: 0.8px solid #808080ab;
}

.events-index-container .date,
.events-index-container .location {
  margin: 0px 15px;
}

.events-index-container .create-event-container {
  text-align: center;
  padding: 20px;
}

.events-index-container .create-event {
  background-color: #a8c3f3;
}
